<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel </title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.1.0/css/bootstrap.min.css"/>
</head>
<body>
<div class="ui-menu-item-wrapper">
    <div class="container text-center m-lg-2">
        <div class="row">
                <div class="description text-center">
                    <h2>Admin Panel</h2>
                </div>
                    <table class="table-bordered table-striped text-center d-lg-table">
                        <thead>
                        <tr>
                            <th data-field="id">ID</th>
                            <th data-field="email">Email</th>
                            <th data-field="user_name">UserName</th>
                            <th data-field="roles">Roles</th>
                            <th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}">1</td>
                            <td th:text="${user.email}">email</td>
                            <td th:text="${user.userName}">userName</td>
                            <td><span th:each="role, iterStat : ${user.roles}"
                                      th:text="${role.name} + ${!iterStat.last ? ', ' : ''}">User</span></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
