<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.0.2/css/bootstrap.min.css"/>
</head>
<body>
<div class="container text-center text-dark">
    <div>
        <h1>Empty Home Page</h1>
        <h2>Please login using link below </h2>
        <div class="row-cols-auto mb-3"><h3><a th:href="@{/login}">*Login*</a></h3></div>

    </div>
</div>
</body>
</html>