<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.1.0/css/bootstrap.min.css"/>
</head>
<body>
<div class="container text-center text-dark">
    <div>
        <h1>Home Page</h1>
        <h2>Dear, User</h2>
        <div class="row-cols-auto mb-3"><h3><a th:href="@{/add_collection}">*Add Collection*</a></h3></div>
        <div class="row-cols-auto mb-3"><h3><a th:href="@{/logout}">*Logout*</a></h3></div>
    </div>
</div>
</body>
</html>